@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --line-color: #000;
    --line-color-inverse: #fff;
    --faded-line-color: #ccc;
    --moving-dot-color: #ff0000;
    --gap-size: 20px;
    --x-size: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --line-color: #f5f5dc;
        --line-color-inverse: #1a1a1a;
        --faded-line-color: #444;
    }
}

#root {
    @apply min-h-screen bg-white text-black dark:bg-gray-900 dark:text-white;
}